body{
    background-color: rgb(109, 138, 167);
    font-family: cursive;
}
footer{
    background-color: cornflowerblue;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin: 0.5rem;
}
#container{
    display: flex;
}
.cartao{
    margin: 1rem 1rem;
    background-color: rgb(132, 165, 199);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
}
.cartao_conteudo{
    text-align: center;
    background-color: rgba(89, 151, 243, 0.74);
    height: 100%;

}
.cartao_conteudo h3{
    background-color: rgba(53, 93, 167, 0.863);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}